.frame-type-textpic {
    margin-bottom: 1rem;
    .textpic {
        .textpic-gallery,
        .textpic-text {
            margin: 0.4rem;
        }
    }
}
.textpic-below {
    .textpic-text {
        margin-bottom: 0;
    }
}

.high-contrast {

}
