// Abstand zwischen Ueberschrift und line
$spacerHeadingMainUnderline:                3px;
$borderBottomWidthHeadingMainUnderline:     2px;
$spacerHeadingTitleUnterline:               4px;
$borderBottomWidthTitleUnterline:           4px;
