// ## Footer
$footer-font-color:                 #75818f;
$footer-font-headline-size:         18px;
$footer-font-headline-family:       $font-family-base;
$footer-font-headline-weight:       700;
$footer-font-links-size:            14px;
$footer-font-links-family:          $font-family-base;
$footer-font-links-weight:          400;
$footer-font-icon-size:             12px;

$footer-zentral-bg-color:           $blue;
$footer-zentral-font-color:         $white;
