//$navbar-brand-font-size:          2rem !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
//$nav-link-height:                 $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
//$navbar-brand-height:             4rem;//$navbar-brand-font-size * $line-height-base;
//$navbar-brand-padding-y:         0.6rem;//($nav-link-height - $navbar-brand-height) / 2 ;

$navbar-light-color:                $green;
$navbar-light-hover-color:          $green;
$navbar-light-active-color:         $green;
$navbar-light-disabled-color:       $green;
