/**
* Social Media Color
* https://www.lockedownseo.com/social-media-colors/
*/
// facebook
$socialmedia-facebook-color:    rgb(75, 110, 168);
// twitter: https://about.twitter.com/en_us/company/brand-resources.html
$socialmedia-twitter-color:     rgb(29, 161, 242);
// google+
$socialmedia-googleplus-color:  rgb(219, 68, 55);
// google
$socialmedia-google-color:      rgb(66, 133, 244);
// youtube: https://www.youtube.com/intl/de/yt/about/brand-resources/#logos-icons-colors
$socialmedia-youtube-color:     rgb(255, 0, 0);
// instagram: https://en.instagram-brand.com/
$socialmedia-instagram-color:   rgb(195, 42, 163);
// linkedin: https://brand.linkedin.com/visual-identity/color-palettes
$socialmedia-linkedin-color:    rgb(0, 119, 181);
// xing
$socialmedia-xing-color:        rgb(18, 101, 103);
// pinterest: https://business.pinterest.com/en/pinterest-brand-guidelines
$socialmedia-pinterest-color:   rgb(189, 8, 28);
// snapchat
$socialmedia-snapchat-color:    rgb(255, 252, 0);
// WhatsApp: https://whatsappbrand.com/
$socialmedia-whatsapp-color:    rgb(37, 211, 102);
// Tumblr
$socialmedia-tumblr-color:      rgb(54, 70, 93);
// Spotify
$socialmedia-spotify-color:     rgb(30, 215, 96);
// Vimeo
$socialmedia-vimeo-color:       rgb(26, 183, 234);
// Slack
$socialmedia-slack-color:       rgb(77, 57, 75);
// Flickr
$socialmedia-flickr-color:      rgb(244, 0, 131);
// Yahoo
$socialmedia-yahoo-color:       rgb(67, 2, 151);
// Soundcloud
$socialmedia-soundcloud-color:  rgb(255, 85, 0);
// TikTok
$socialmedia-tiktok-color:      rgb(105, 201, 208);
// GitHub
$socialmedia-github-color:      rgb(51,51,51);
