<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="RollupImage">
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 3}')}">
        <div id="RollupImage" class="container-fluid">
            <f:cObject
                typoscriptObjectPath="lib.dynamicContent"
                data="{pageUid: '{data.uid}', colPos: '3'}" />
        </div>
    </f:if>
</f:section>

<f:section name="Main">

    <f:render section="RollupImage" arguments="{_all}" />

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 0}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '0'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 30}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 31}')}">
        <div class="container">
            <div class="row">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 30}')}">
                    <div class="col-md-9">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '30'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 31}')}">
                    <div class="col-md-3">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '31'}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 32}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '32'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 33}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 34}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 35}')}">
        <div class="container">
            <div class="row">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 33}')}">
                    <div class="col-md-4">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '33'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 34}')}">
                    <div class="col-md-4">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '34'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 35}')}">
                    <div class="col-md-4">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '35'}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 36}')}">
        <div class="container bg-lightgrey">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '36'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 37}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 38}')}">
        <div class="container">
            <div class="row">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 37}')}">
                    <div class="col-md-6">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '37'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 38}')}">
                    <div class="col-md-6">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '38'}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 39}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '39'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 40}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 41}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 42}')}">
        <div class="container">
            <div class="row">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 40}')}">
                    <div class="col-md-4">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '40'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 41}')}">
                    <div class="col-md-4">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '41'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 42}')}">
                    <div class="col-md-4">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '42'}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 43}')}">
        <div class="container bg-lightgrey">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '43'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 44}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '44'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 45}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 46}')}">
        <div class="container">
            <div class="row">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 45}')}">
                    <div class="col-md-6">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '45'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 46}')}">
                    <div class="col-md-6">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '46'}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 47}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '47'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 47}')}">
        <div class="container bg-lightgrey">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '47'}" />
                </div>
            </div>
        </div>
    </f:if>
</f:section>

<f:section name="Footer">
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 70}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '70'}" />
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 71}')}||
                     {f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 72}')}">
        <div class="container">
            <div class="row">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 71}')}">
                    <div class="col-md-6">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '71'}" />
                    </div>
                </f:if>
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 72}')}">
                    <div class="col-md-6">
                        <f:cObject
                            typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '72'}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 73}')}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject
                        typoscriptObjectPath="lib.dynamicContent"
                        data="{pageUid: '{data.uid}', colPos: '73'}" />
                </div>
            </div>
        </div>
    </f:if>
</f:section>
</html>
