//
// Fonts
//
// ------------------------

//
// roboto-fontface-condensed
//
$roboto-font-path: "../Fonts";

@mixin roboto-font($folder, $variant, $type, $weight, $style) {

  $font-full-path: '#{$roboto-font-path}/#{$folder}/#{$variant}';

  @font-face {
      font-family: '#{$variant}';
      src: url('#{$font-full-path}-#{$type}.woff2') format('woff2'),
           url('#{$font-full-path}-#{$type}.woff') format('woff');
      font-weight: $weight;
      font-style: $style;
      font-display: swap;
  }

  @font-face {
      font-family: '#{$variant}-#{$type}';
      src: url('#{$font-full-path}-#{$type}.woff2') format('woff2'),
           url('#{$font-full-path}-#{$type}.woff') format('woff');
      font-display: swap;
  }
}

/**
* Robotot-Condensed
*/
@include roboto-font('roboto-condensed', 'Roboto-Condensed', 'BoldItalic', 700, italic);
@include roboto-font('roboto-condensed', 'Roboto-Condensed', 'Bold', 700, normal);
//@include roboto-font('roboto-condensed', 'Roboto-Condensed', 'LightItalic', 300, italic);
//@include roboto-font('roboto-condensed', 'Roboto-Condensed', 'Light', 300, normal);
@include roboto-font('roboto-condensed', 'Roboto-Condensed', 'RegularItalic', 400, italic);
@include roboto-font('roboto-condensed', 'Roboto-Condensed', 'Regular', 400, normal);
