h1 {
//    padding-top: 1rem;
//    padding-bottom: 1rem;
    color: $green;
    // font-weight: 500;
    // text-align: left;
    // letter-spacing: 0.1em;
    text-transform: uppercase;
    hyphens: auto;
}
h2 {
//    padding-top: 1rem;
//    padding-bottom: 1rem;
    color: $gray-700;
}
h3 {
    color: $gray-700;
}
h4 {
    color: $gray-700;
}
h5 {
    color: $gray-700;
}
